@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

html {
    color: #1F1F1F;
}
body {
    background-color: #ebe2f37e; 
    font-family: "Hedvig Letters Sans", Helvetica, sans-serif;
    margin: 0;  
}
img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:25%;
    height:auto;
}
 #about {
    padding: .5rem;
    margin: 1rem;
}
#experience {
    padding: .5rem;
    margin: 1rem;
}
#experience ul {
    list-style-type: none;
    padding-left: 0;

}
#experience li {
    border: 2px solid #492a6500;
    border-radius: 3px;
    display: block;
    background-color: #d8c5e768;
    padding: .75rem;
    margin-bottom: 1rem;
}
#skills {
    padding: .5rem;
    margin: 1rem;
    text-align: center;
}
#skills ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
#skills li {
    border: 2px solid #492a651a;
    border-radius: 3px;
    display: inline-block;
    background-color: #a67ec970;
    padding: .5rem;
    margin: 0 .5rem 0 0;   
}
#connect {
    padding: .5rem;
    margin: 1rem;
}
#connect ul {
    padding-left: 0;
}
#connect li {
    display: block;
    font-size: 1.1rem;
}
a {
    text-decoration: none;
    color: #4b2a65;
}
a:hover {
    text-decoration-line: underline;
    background-color: #a67ec970;
}
#leave_a_message {
    padding: .5rem;
    margin: 1rem;
}
label {
    font-size: 15px; 
    color: #4b2a65;
    
}
input,
textarea {
    font-size: 15px;
    border: 2px solid #4b2a6550;
    padding: 1rem;
    margin: 1rem 0 0 0;
}
button[type="submit"]{
    background-color: #a67ec970;
    font-size: 15px;
    color: #1f1f1fcc;
    border-radius: 3px;
    border: 2px solid #a67ec970;
    padding: .5rem;
}
button[type="submit"]:hover {
    background-color: #a67ec9c5;
    font-size: 15px;
    color: #1f1f1fcc;
    border-radius: 3px;
    border: 2px solid #a67ec9c5;
    padding: .5rem;
}
#messages {
    padding: .5rem;
    margin: 1rem;
} 
#messages ul {
    padding-left: 0;
}
#messages li {
    display: block;
}
#editButton {
    margin-left: .6rem;
    margin-right: .6rem;
}
#removeButton {

}
h1,
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #492A65;
}

footer p {
    background-color: #d8c5e768;
    padding: .5rem;
    margin: 1rem 0 1rem 0;
}
